@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>English Assistance</h1>
    <p class="lead">This project will provide teachers with a easier and more useful tool for the assistance management.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        @*We need to change or eliminate this*@
        
    </div>
</div>